<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DS lop</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">

        function addClass() {
            //lay du lieu
            let className = $('#className').val();
            //tao doi tuong
            let newClass = {
                name: className
            };
            // goi ajax
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type:"POST",
                data: JSON.stringify(newClass),
                //tên API
                url:"/classes/",
                //xử lý khi thành công
                success: function (){
                    console.log("tao moi thanh cong");
                }

            });
            //chặn sự kiện mặc định của thẻ
            event.preventDefault();
        }

        function successHandler() {
            $.ajax({
                type:"GET",
                //tên API
                url:"/classes",
                //xử lý khi thành công
                success: function(data){
                    // hien thi danh sach o day
                    let content ='    <tr>\n' +
                        '        <td>ten lop</td>\n' +
                        '        <td>xoa lop</td>\n' +
                        '    </tr>';
                    for (let i = 0 ; i < data.length; i++) {
                        content += getClass(data[i]);
                    }
                    document.getElementById('classList').innerHTML = content;
                }
            });
        }

        function getClass(classe1) {
            return `<tr><td >${classe1.name}</td>`+
                `<td><a class="deleteClass" onclick="deleteClass(this)" href="${classe1.id}">xoa</a></td></tr>`;
        }


        function deleteClass(a){
            let idClass = a.getAttribute("href");
            // goi ajax
            $.ajax({
                type:"DELETE",
                //tên API
                url:"/classes/"+ idClass,
                //xử lý khi thành công
                success: function (data) {
                    a.parentElement.parentElement.remove();
                }

            });
            //chặn sự kiện mặc định của thẻ
            event.preventDefault();
        }

        function xoaLop(a){
            //lay id cua lop
            let id = a.getAttribute("href");
            console.log(id);
            //goi ajax
            $.ajax({
                //goi phuong thuc
                type: "DELETE",
                //duong dan API
                url: "/classes/"+id,
                // xu ly khi thanh cong
                success: function (){
                    //thay doi ma html
                   a.parentElement.parentElement.remove();
                }
            })
            event.preventDefault();
        }
    </script>
</head>
<body>
<form id="addClass">
    <input type="text" id="className">
    <input type="submit" value="them moi" onclick="addClass()">
</form>
<h1>Danh sach lop</h1>
<table id="classList">
    <tr>
        <td>ten lop</td>
        <td>xoa lop</td>
    </tr>
    <th:block th:each="c: ${list}">
        <tr>
            <td th:text="${c.name}"></td>
            <td><a class="deleteClass" onclick="xoaLop(this)" th:href="${c.getId()}">xoa</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>